.clearfix:after {
	content: '';
	clear: both;
	display: table;
	overflow: hidden;
}

.container {
	max-width: 1020px;
	margin: 0 auto;
	text-align: center; 
}

.header {
	position: relative;
}

.header__bg {
    background-color: #000;
}

.header__top {
	margin: 0 auto;
	padding: 0;
	display: block;
}

.owl-pagination {
	position: absolute;
	text-align: center;
	top: 96%;
	left: 0;
	right:0;
	bottom: 0;
	transform: translate(0,-50%);
}

.owl-page span {
	margin: 0 5px 0;
    width: 13px;
    height: 13px;
}

.header__logo {
	display: block;
	position: absolute;
	top: 3.34%;
	left: 13%;	
}
.box-menu {
	display: block;
}
.menu {
	position: absolute;
    top: 5.34%;
    right: 15.437%;
}
.menu li {
	display: inline;
	padding:0 10px;
}
.menu__item {
	color: white;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding-right: 26px;
}

.menu li:after {
	content: '';
	width: 5px;
	height: 5px;
	border: 1px solid #f4c60b;
	border-radius: 3px;
	display: inline-block;
	margin-left: 20px;
}
.menu li:last-child:after {
	content: none;
}
.menu a:last-child {
	padding: 0;
}

.header__text {
	position: absolute;
    top: 50%;
    left: 0;
	right: 0;
	transform: translate(0,-50%);
	line-height: 1.1;
	text-align: center;
}

.header__title {
	color: #f4c60b;
	font-family: Raleway;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
}
.header__description {
	color: white;
	font-family: CrimsonText;
	font-size: 24px;
	font-style: italic;
}
.header__scroll {
	display: block;
	position: absolute;
	bottom: 9%;
	left: 0;
	right: 0;
	transform: translate(0,-17%);
	text-align: center;
}

svg {
  fill: #ffffff;
}

circle {
  animation: scroll 1.5s ease infinite;
}

@keyframes scroll {
  0% { 
    opacity: 0;
    cy: 481;
  }
  33% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
    cy: 231;
  }
}

.header__scroll--description {
	padding-top: 29px;
	color: white;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.about {
	background: url("../img/field.png") 50%;
	background-color: #ececec;
	background-size: cover;
	text-align: center;
}
.title__h1 {
	border-bottom: 4px solid #f4c60b;
	display: inline-block;
	padding-top: 122px;
}
h1 {
	display: inline-block;
	padding-bottom: 15px;
	color: #000;
	font-family: Raleway;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
}

.about__text {
	padding-top: 147px;
	color: #000;
	font-family: CrimsonText;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	text-align: justify;
}
.about__text p:last-child {
	text-align: center;
}
.btn {
	padding-top: 92px;
	padding-bottom: 119px;
	text-align: center;
	position: relative;
}

.btn__text a{
	display: block;
	padding: 27px 60px;
	border: 3px solid #f4c60b;
	color: #000;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	transition: all 0.5s ease-out;;
	text-transform: uppercase;
	position: relative;
}

.btn__text a:hover {
	background: rgba(244, 198, 11, 0.75);
	color: #fff;
}

.portfolio__description {
	text-align: center;
	padding-top: 37px;
}

.portfolio__description p {
	color: black;
	font-family: CrimsonText;
	font-size: 24px;
	font-weight: 400;
}

.portfolio__sorted {
	display: inline-block;
	margin: 0 auto;
	padding-top: 52px;
}

.portfolio__sorted button {
	margin: 0 -0.5%;
	padding: 20px 25px;
	border-left: 1px solid #f4c60b;
	border-top: 1px solid #f4c60b;
	border-bottom: 1px solid #f4c60b;
}

.portfolio__sorted a {
	color: #000;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 2;
}

.portfolio__sorted button:last-child {
	border-right: 1px solid #f4c60b;
}

.portfolio__sorted button:hover {
	background-color: #f4c60b;
}

.portfolio__gallery {
	padding-top: 60px;
}

.portfolio__gallery ul {
	list-style-type: none;
	margin: 0 -28.44%;
}

.view {
    float: left;
 	position: relative;
    overflow: hidden;
	max-width: 100%;
}

.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   width: 100%;
    .view-first img {
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
   height: 100%;
}

.view .mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view-first .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(244, 198, 11, 0.4);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}

.view-first:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}

.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}

.view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view h2 {
	margin: 20px 0 0 0;
	padding: 20px;
	text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    top: 40%;
    font-family: Crimson;
	font-size: 24px;
	font-weight: 700;
	    background: rgba(0, 0, 0, 0.8);
}

.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.view p {
    font-family: Raleway;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    top: 20%;
    line-height: 1.4;
}

.view img {
    display: block;
    position: relative;
}

.view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.btn:nth-of-type(2) {
	padding: 61px 0;
}

.our__team__gallery {
	padding-top: 120px;
	padding-bottom: 140px;	
}

.our__team__gallery ul {
	margin: 0 2.94%;
}

.our__team__gallery--foto {
	float: left;
	padding: 0 30px;
}

.our__team__gallery h3 {
	color: #000;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 42px;
}

.our__team__gallery span {
	display: block;
	padding-top: 29px;
	color: #000;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
}

.our__skills {
	background: url("../img/bg-skills.png") 50%;
	background-color: #ececec;
	text-align: center;
	background-size: cover;
}

.our__skills__block {
	padding-top: 181px;
}

.our__skills__block ul {
	padding: 0 2.94%;
}

.our__skills__block li {
	float: left;
	padding: 0 8.29%;
}

.our__skills__block  p {
	color: #000;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 300;
	padding-top: 51px;
	padding-bottom: 122px;
}
/*.graph-container {*/
   /*width: 160px;*/
   /*margin-left: auto;*/
   /*margin-right: auto;*/
   /*display: block;*/
/*}*/

.graph-donut {
   position: relative;
   display: inline-block;
   width: 160px;
   text-align: center;
}

.graph-donut canvas {
   position: absolute;
   top: 0;
   left: 0;
}

.graph-title {
    margin-top: 125px;
    text-align: center;
	color: #000;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 122px;
}

.percent {
    display: inline-block;
    padding-top: 50px;
    color: #000;
	font-family: Raleway;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 48px;
}

.percent:after {
   content: '%';
   font-size: 24px;
}

.quote {
	background: url("../img/bg-quote.png") 50%;
	background-color: #000;
	background-size: cover;
}

blockquote {
	display: block;
	padding: 167px 0 0 0;
	margin: 0 -4.3%;
	position: relative;
}

blockquote::before{
	content: "\201C"; 
	font-family: Georgia, serif;
	font-size: 60px;
	font-weight: bold;
	color: #f4c60b;
  	position: absolute;
	left: -2.45%;
    top: 145px;
}

blockquote::after{
	content: "\201d";
	font-family: Georgia, serif;
	font-size: 60px;
	font-weight: bold;
	color: #f4c60b;
  	position: absolute;
	right: -3%;
    bottom: -34px;
}

.quote__text {
	margin: 0 auto;
	padding: 25px 18px 26px 20px;
	color: #fff;
	font-family: CrimsonText;
	font-size: 34px;
	font-weight: 400;
	text-align: justify;
}

.quote__author {
	margin: 0 -2.45%;
	padding: 62px 0 117px 0;
	color: #fff;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 400;
	text-align: right;
}

.services__block {
	padding: 122px 0;
	margin: 0 auto;
}

.services__block ul {
	margin: 0 -6.1%;
	text-align: center;
}

.services__block li {
	float: left;
	width: 20.7%;
    padding: 0 6.29%;
}

.services__block h3 {
	padding-top: 74px;
	color: #000;
	font-family: Raleway;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.services__block li:nth-child(2) h3 {
	padding-top: 88px;
}

.services__block p {
	padding-top: 44px;
	color: #000;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
}

.pricing {
	background: url('../img/bg-pricing.png') 50% 49%;
	background-color: #ececec;
	background-size: cover;
}

.pricing__main {
	margin: 0 -0.98%;
    padding: 99px 13.72% 127px;
}

.pricing__main li {
	width: 31%;
	float: left;
	margin: 0 0.98%;
	border: 1px solid #fff;
	text-align: center;
}
.pricing__main li:hover {
	background-color: rgba(244, 198, 11, 0.7);
	text-shadow: 2px 3px 3px rgba(255, 255, 255, 8);
	cursor: pointer;
}

.pricing__main--header {
	padding: 24px;
	background-color: #FFF;
	color: #000;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

.pricing__main--price {
	padding: 62px 32.72% 0;
	color: #000;
	font-family: Raleway;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 60px;
}

.pricing__main--price:after {
	content: "$";
	font-size: 24px;
}

.pricing__main--features {
	padding: 76px 20.9% 0;
	color: #000;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 300;
	line-height: 48px;
}

.pricing__main--btn {
	background-color: #FFF;
	margin: 73px 9.09% 20px;
	
}

.pricing__main--btn a {
	padding: 20px 55px;
	display: block;
	color: #000;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

#owl-demo .owl-wrapper-outer {
	padding: 84px 0 122px;
	margin: 0 auto;
}

#owl-demo img {
	width: auto;
	margin: 0 auto;
}
.item {
	display: block;
    position: relative;
}
.item__description {
	display: flex;
	position: absolute;
	top: 5px;
	left: 50px;
	right: 50px;
	bottom: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	border: solid 3px #fff;
}
.item__description:hover {
	background: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.item__description h5 {
	padding: 37px 70px 0 14px;
	color: white;
	font-family: Raleway;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: justify;
}

.item__description--date {
	position: absolute;
	width: 16.72%;
	top: 15px;
	right: 20px;
	color: white;
	font-family: Raleway;
	text-transform: uppercase;
	line-height: 26px;
}

.digit {
	font-size: 36px;
	font-weight: 700;
}

.month {
	font-size: 14px;
	font-weight: 300;
}

.item__description p {
	position: absolute;
	bottom: 22px;
	left: 15px;
	right: 15px;
	color: white;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
	text-align: left;
}

#owl-demo .owl-pagination {
	display: none;
}

.owl-buttons{
	position: relative;

}
.owl-prev {
	position: absolute;
	left: -9%;
	top: -330px;
}

.owl-next {
	position: absolute;
	right: -9%;
	top: -330px;
}

.our__clients {
	background-color: #fbfbfb;
}

.our__clients__logo {
	display: block;
	margin: 0 -28.44%;
	padding-top: 116px;
}

.our__clients__logo li {
	float: left;
	border: 1px solid #ececec;
	background: #ffffff;
    width: 24.8%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact__us {
	background: url('../img/bg-pricing.png') 50%;
	background-size: cover;
}

.dark {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/bg-pricing.png');
    background-size: cover;
}

.title__h1__contact {
	border-bottom: 4px solid #f4c60b;
	display: inline-block;
	padding-top: 40px;
}

.title__h1__contact h1 {
	color: white;
	font-family: Raleway;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
    padding-bottom: 15px;
    display: inline-block;
}

.contact__us__form {
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 60px;
	display: block;
}
	
.contact__us__form input {
	width: 18.8%;
	margin: 0 10px;
	padding: 20px;
	color: white;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border: 3px solid white;
}


.contact__us__form textarea {
	margin-top: 16px;
	width: 44.4%;
	padding: 20px;
	height: 220px;
	border: 3px solid white;
	color: white;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
}

.contact__us__button {
	margin-top: 11px;
    margin-right: 33.4%;
    padding: 20px 52px;
    background-color: #f4c60b;
}

.contact__us__button a {
	font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

input::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 0.3s ease; color: #fff}
input::-moz-placeholder                {text-indent: 0;   transition: text-indent 0.3s ease; color: #fff}
input:-moz-placeholder                 {text-indent: 0;   transition: text-indent 0.3s ease; color: #fff}
input:-ms-input-placeholder            {text-indent: 0;   transition: text-indent 0.3s ease; color: #fff}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease; color: #fff}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease; color: #fff}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease; color: #fff}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease; color: #fff}


.footer {
	background-color: #303030;	
}

.footer__logo {
	padding-top: 53px;
}

.footer__title {
	padding-top: 20px;
	color: white;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.footer__description {
	padding-top: 17px;
	color: white;
	font-family: CrimsonText;
	font-size: 12px;
	font-style: italic;
}

.footer__social {
	padding-top: 64px;
}

.footer__social img {
	padding: 0 7px;
}

.footer__copyright {
	padding-top: 38px;
	padding-bottom: 19px;
	color: white;
	font-family: CrimsonText;
	font-size: 12px;
	font-style: italic;
}

.scroll__to__top {
	display: block;
	position: relative;
}

.scrollToTop {
    padding: 10px;
	width:100px;
	height:100px;
	position:absolute;
	bottom:30px;
	right:0;
	background: url('../pic/top.png') no-repeat 31px 31px;
	color: #fff;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 700;
    text-decoration: none;
}
.scrollToTop:hover {
    text-decoration: none;
}
.scrollToTop span {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 17px;
}

@media screen and (max-width: 1280px) {
    .menu {
        right: 6%;
    }
	.portfolio__gallery ul, .our__clients__logo {
		margin: 0 -12.74%;
	}
	.view {
		width: 25%;
	}
	.view h2 {
		font-size: 20px;
	}
	.view p {
		font-size: 15px;
	}
}

@media screen and (max-width: 1024px) {
    .menu {
        right: 5%;
    }
    .menu__item {
        font-size: 14px;
    }
	.about__text {
        padding: 100px 40px;
    }

    .title__h1 {
        padding-top: 80px;
    }
    .portfolio__gallery ul, .our__clients__logo {
        margin: 0 -0.19%;
    }
    .view h2 {
        margin: 40px 0 0 0;
        padding: 15px;
    }    .view p {
        top: -5%;
        line-height: 1.1;
    }
    blockquote {
        margin: 0;
        padding: 140px 40px 0;
    }
    blockquote::before {
        left: 3.55%;
        top: 63%;
    }
    blockquote::after {
        right: 4%;
    }
    .quote__text {
        font-size: 28px;
        text-align: center;
    }
    .quote__author {
        margin: 0;
        padding: 63px 41px 74px 0;
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }
    .scrollToTop {
        right: 40px;
    }
    .btn {
        padding: 0 0 70px;
    }
    .btn__text a {
        padding: 20px 40px;
    }
    .our__clients__logo li {
        height: 180px;
    }
    .pricing__main {
        margin: 0;
    }
    .services__block ul {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        left: 7%;
    }
    .menu {
        right: 4%;
    }
    .menu__item {
        font-size: 12px;
        padding-right: 13px;
    }
    .menu__item:after {
        margin-left: 13px;
    }
    .header__title {
        font-size: 55px;
    }
    .header__description {
        font-size: 18px;
    }
    .header__scroll {
        bottom: 10%;
    }
    .header__scroll--description {
        padding: 2px;
        font-size: 15px;
    }
	.owl-pagination {
		top: 94%;
	}
    h1 {
        font-size: 37px;
    }
    .title__h1 {
        padding-top: 60px;
    }
    .about__text {
        padding: 50px 20px;
    }
    .btn__text a {20px
        padding: 15px 30px;
        font-size: 20px;
    }
    .portfolio__description p {
        font-size: 20px;
    }
    .portfolio__sorted button {
        padding: 15px 20px;
    }
    .view h2 {
        margin: 50px 0 0 0;
        padding: 12px;
        font-size: 17px;
    }
    .view p {
        top: -25%;
        font-size: 11px;
    }
    .portfolio__gallery ul, .our__clients__logo {
        margin: 0;
    }
    .our__team__gallery {
        padding: 80px 0 90px;
    }
    .our__team__gallery ul {
        margin: 0;
        padding: 0 4%;
    }
    .our__team__gallery--foto {
        padding: 10px;
        float: none;
    }
    .our__team__gallery--foto span {
        padding-top: 10px;
    }
    .our__skills__block {
        padding-top: 100px;
    }
    .our__skills__block ul {
        padding: 0;
    }
    .our__skills__block li {
        padding: 0 6.2%;
    }
    .quote__text {
        font-size: 21px;
    }
    .quote__author {
        margin: 0;
        padding: 43px 41px 64px 0;
        font-size: 20px;
    }
    .services__block {
        padding: 90px 0;
    }
    .services__block h3 {
        font-size: 22px;
        padding-top: 50px;
    }
    .services__block li:nth-child(2) h3 {
         padding-top: 65px;
    }
    .pricing__main {
        padding: 70px 7.72% 100px;
    }
    .pricing__main--btn a {
        padding: 20px 40px;
    }
    .pricing__main--features {
        padding: 40px 16.9% 0;
    }
    .item__description {
        left: 72px;
        right: 72px;
    }
    .owl-next {
        right: 10px;
    }
    .owl-prev {
        left: 10px;
    }
    .our__clients__logo li {
        width: 24.7%;
        height: 150px;
    }
    .title__h1__contact h1 {
        font-size: 37px;
    }
    .contact__us__form textarea {
        width: 47%;
    }
    .contact__us__button {
        margin-right: 32.4%;
    }
}

@media screen and (max-width: 640px) {
    .header__title {
        font-size: 45px;
    }
    .header__description {
        font-size: 16px;
    }
	.menu li {
		padding: 0 4px;
	}
	.menu li:after {
		margin-left: 10px;
	}
    svg {
        width: 20px;
        height: 34px;
    }
    .header__scroll--description {
        padding: 4px 0;
        font-size: 11px;
    }
    .menu__item {
        font-size: 10px;
        padding-right: 10px;
    }
    .owl-page span {
        width: 11px;
        height: 11px;
    }
    .portfolio__description p {
        font-size: 17px;
    }
    .view {
        width: 50%;
    }
    .view h2 {
        margin: 20px 0 0 0;
        padding: 20px;
        font-size: 24px;
    }
    .view p {
        font-size: 15px;
        top: 20%;
        line-height: 1.4;
    }
    .our__skills__block li {
        width: 33.3%;
        padding: 0;
    }
    blockquote {
        padding: 105px 20px 0;
    }
    .quote__text {
        font-size: 16px;
    }
    blockquote:before,
    blockquote:after {
        font-size: 40px;
    }
    blockquote:before {
        left: 7.55%;
        top: 65%;
    }
    blockquote:after {
        right: 7%;
        top: 82%;
    }
    .services__block {
        padding: 65px 0;
    }
    .services__block p {
        padding-top: 24px;
    }
    .services__block li {
        float: none;
        margin: 0 auto;
        padding: 20px 10px;
        width: auto;
    }
    .pricing__main {
        padding: 70px 0 100px;
    }
	.item__description {
		left: 13%;
		right: 13%;
	}
	.owl-next {
		right: 0;
	}
	.owl-prev {
		left: 0;
	}
	.our__clients__logo li {
		width: 49.6%;
		height: 147px;
	}
    .contact__us__form textarea {
        width: 48.9%;
    }
    .contact__us__button {
        margin-right: 31.4%;
    }
}

@media screen and (max-width: 540px) {
	.view h2 {
		margin: 30px 0 0 0;
		padding: 13px;
		font-size: 20px;
	}
	.view p {
		top: 0;
		line-height: 1.2;
	}
    .pricing__main--features {
        padding: 25px 15px 0;
    }
    .pricing__main--btn a {
        padding: 20px 32px;
    }
	.item__description {
		left: 15px;
		right: 15px;
	}
	.owl-prev {
		left: 18px;
	}
	.owl-next {
		right: 18px;
	}
    .quote__text {
        font-size: 14px;
    }
    blockquote:before {
        left: 5.55%;
        top: 62%;
    }
    blockquote:after {
        right: 5%;
        top: 84%;
    }
    .contact__us__form textarea {
        width: 50.9%;
    }
    .contact__us__button {
        margin-right: 30%;
    }
}

@media screen and (max-width: 480px) {
    .header__title {
        font-size: 35px;
    }
    .header__description {
        font-size: 12px;
    }
    svg {
        width: 15px;
        height: 24px;
    }
    .header__scroll--description {
		padding: 5px 0 0;
        font-size: 9px;
	}
    h1 {
        font-size: 30px;
    }
    .title__h1 {
        padding-top: 45px;
    }
    .about__text {
        padding: 40px 15px;
        font-size: 15px;
        line-height: 1.6;
    }
    .btn__text a {
        font-size: 14px;
        padding: 12px 24px;
    }
    .portfolio__description p {
        font-size: 14px;
    }
    .portfolio__sorted a {
        font-size: 12px;
    }
    .portfolio__sorted button {
		margin: 0 -0.6%;
        padding: 5px 15px;
    }
    .view h2 {
		margin: 40px 0 0 0;
        font-size: 17px;
	}
	.view p {
		font-size: 12px;
		top: -4%;
	}
    .btn:nth-of-type(2) {
        padding: 40px 0;
    }
	.our__team__gallery h3 {
		font-size: 20px;
		padding-top: 25px;
	}
    .our__skills__block {
        padding-top: 60px;
    }
    .our__skills__block li {
        float: none;
        width: auto;
    }
    .graph-title {
        margin-top: 90px;
        padding-bottom: 70px;
        font-size: 17px;
    }
    blockquote:before {
        left: 3.55%;
        top: 65%;
    }
    blockquote:after {
        right: 3.5%;
        top: 83%;
    }
    .quote__text {
        font-size: 13px;
    }
    .quote__author {
        padding: 26px 37px 64px 0;
        font-size: 16px;
    }
    .services__block p {
        font-size: 13px;
    }
	.pricing__main--features {
		padding: 20px 28.9% 0;
	}
    .pricing__main li {
        float: none;
        width: auto;
        margin: 0 17.98% 5%;
    }
    .pricing__main--btn a {
        padding: 20px 55px;
    }
    .item__description {
        left: 25%;
        right: 25%;
    }
    .our__clients__logo {
        padding-top: 60px;
    }
    .our__clients__logo li {
        width: 49.58%;
    }
	.title__h1__contact h1 {
		font-size: 30px;
	}
	.contact__us__form {
		padding: 60px 0;
	}
    .contact__us__button {
        margin: 10px;
    }
    .contact__us__form input {
        width: 28%;
		padding: 10px;
    }
    .contact__us__form textarea {
        width: 62.3%;
    }
	.footer__logo {
		padding-top: 30px;
	}
	.footer__social {
		padding-top: 30px;
	}
    .scrollToTop {
		width: 69px;
		height: 69px;
		right: 0;
		background: url(../pic/top.png) no-repeat 16px 5px;
    }
	.scrollToTop span {
		font-size: 12px;
		bottom: 35px;
	}
}

@media screen and (max-width: 425px) {
	.header__logo {
		left: 4%;
		top: 5%;
	}
	.box-menu {
		display: none;
	}
	.menu li {
		display: block;
		padding: 5px 10px;
	}
	.menu li:after {
		display: none;
	}
	.nav-menu {
		position: absolute;
		top: 3%;
		right: 3%;
        padding: 3px;
		cursor: pointer;
	}
	.nav-menu span {
		position: relative;
		display: block;
		width: 20px;
		height: 3px;
		margin: 3px;
		background: #f4c60b;
		-webkit-transition: all .3s ease-in;
		-moz-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}
	.menu {
		right: 2%;
		top: 15%;
        z-index: 1;
	}
	.nav-menu.active span:nth-child(2) {
		opacity: 0;
	}
	.nav-menu.active span:first-child {
		top: 6px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	.nav-menu.active span:last-child {
		top: -6px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	.view h2 {
		margin: 44px 0 0 0;
		font-size: 14px;
	}
	.view p {
		top: -15%;
	}
	.quote__text {
		text-align: justify;
	}
	.pricing__main--features {
		padding: 13px 23.9% 0;
	}
	#owl-demo .owl-wrapper-outer {
		padding: 60px 0;
		margin: 0 auto;
	}
	.item__description {
		left: 22%;
		right: 22%;
	}
	.owl-next,
	.owl-prev {
		top: -280px;
	}
	.our__clients__logo li {
		width: 49.5%;
	}
	.contact__us__form input {
		width: 27.7%;
	}
}

@media screen and (max-width: 375px) {
	.header__logo {
		top: 4%;
		left: 4%;
	}
	.header__text {
		top: 47%;
	}
	.header__title {
		font-size: 32px;
	}

	.owl-pagination {
		top: 93%;
	}
	.owl-page span {
		width: 9px;
		height: 9px;
	}
	.portfolio__sorted button {
		padding: 5px 9px;
		margin: 0 -0.6%;
	}
	.view h2 {
		margin: 50px 0 0 0;
		padding: 11px;
		font-size: 14px;
	}
	.view p {
		font-size: 12px;
		top: -35%;
		line-height: 1;
	}
	.our__team__gallery,
	.pricing__main {
		padding: 60px 0;
	}
	.our__team__gallery h3 {
		font-size: 20px;
		padding-top: 24px;
	}
	.quote__text {
		text-align: justify;
	}
	blockquote:after {
		right: 4.5%;
		top: 79%;
	}
	.services__block p {
		padding: 20px 10px 0;
	}
	.pricing__main li {
		margin: 0 13.98% 5%;
	}
	.pricing__main--features {
		padding: 15px 24.9% 0;
	}
	.item__description {
		left: 18%;
		right: 18%;
	}
	#owl-demo .owl-wrapper-outer {
		padding: 60px 0;
	}
	.owl-next,
	.owl-prev {
		top: -280px;
	}
	.our__clients__logo li {
		width: 49.4%;
	}
	.contact__us__form input {
		width: 67.4%;
		margin: 1%;
	}
}

@media screen and (max-width: 360px) {
	.menu li {
		padding: 3px;
	}
	.item__description {
		left: 17%;
		right: 17%;
	}
}

@media screen and (max-width: 320px) {
    .header__logo {
        left: 2%;
    }
	.menu li {
		padding: 3px;
	}
    .menu__item {
        font-size: 8px;
        padding-right: 2px;
    }
    .menu__item:after {
        margin-left: 5px;
        width: 3px;
        height: 3px;
    }
    .header__title {
        font-size: 25px;
    }
    svg {
        width: 13px;
        height: 20px;
    }
    .header__scroll--description {
        font-size: 7px;
    }
    .header__scroll {
        bottom: 7%;
    }
    .owl-page span {
        margin: 0 3px 3px;
        width: 5px;
        height: 5px;
    }
    .title__h1 {
        padding-top: 30px;
    }
    h1 {
        font-size: 25px;
    }
    .about__text {
        padding: 30px 10px;
        font-size: 14px;
    }
    .btn {
        padding: 0 0 40px;
    }
    .btn__text a {
        font-size: 12px;
        padding: 10px 20px;
    }
    .portfolio__sorted button {
        margin: 0 -0.8%;
        padding: 2px 7px;
    }
    .portfolio__sorted a {
        font-size: 11px;
    }
    .portfolio__gallery {
        padding-top: 45px;
    }
    .view h2 {
        margin: 61px 0 0 0;
        padding: 8px;
        font-size: 14px;
    }
    .view p {
        font-size: 10px;
        top: -46%;
    }
    .our__team__gallery {
        padding: 40px 0 50px;
    }
    blockquote {
        padding: 75px 10px 0;
    }
    blockquote:before {
        left: 2.5%;
        top: 53%;
    }
    blockquote:after {
        right: 2.5%;
        top: 79%;
    }
    .quote__author {
        padding: 15px 33px 47px 0;
        font-size: 13px;
    }
    .services__block {
        padding: 40px 0;
    }
    .services__block li {
        padding: 25px 10px;
    }
    .services__block h3,
    .services__block li:nth-child(2) h3 {
        font-size: 17px;
        padding-top: 33px;
    }
    .services__block p {
        font-size: 11px;
        padding-top: 16px;
    }
    .pricing__main {
        padding: 40px 0 50px;
    }
    .pricing__main li {
        margin: 0 5.98% 5%;
    }
    .pricing__main--features {
        padding: 20px 30% 0;
        font-size: 14px;
        line-height: 30px;
    }
    .pricing__main--btn {
        margin: 40px 9.09% 20px;
    }
    .item__description {
        left: 41px;
        right: 41px;
    }
    #owl-demo .owl-wrapper-outer {
        padding: 50px 0;
    }
    .owl-prev {
        left: 0;
        top: -270px;
    }
    .owl-next {
        right: 0;
        top: -270px;
    }
    .our__clients__logo li {
        width: 49.3%;
    }
    .title__h1__contact h1 {
        font-size: 25px;
    }
    .contact__us__form {
        padding: 50px 0 40px;
    }
    .contact__us__form input {
        width: 77.3%;
        margin: 3px 0;
        padding: 10px;
        font-size: 10px;
    }
    .contact__us__form textarea {
        width: 71.3%;
    }
    .contact__us__button {
        margin: 5px;
        padding: 10px 44px;
    }
    .contact__us__button a {
        font-size: 11px;
    }
    .footer__title {
        padding: 10px 0 0 0;
        font-size:16px;
    }
    .footer__description {
        padding-top: 5px;
        font-size: 9px;
    }
    .footer__social {
        padding-top: 40px;
    }
    .footer__copyright {
        padding-top: 24px;
        font-size: 9px;
    }
}

@media screen and (max-width: 240px) {
	.header__logo {
        left: 2%;
        width: 10%;
    }
    .menu__item {
        font-size: 8px;
        padding-right: 2px;
    }
    .menu__item:after {
        margin-left: 5px;
        width: 3px;
        height: 3px;
    }
	.menu {
		right: 2%;
		top: 22%;
	}
	.menu li {
		padding: 0;
	}
    .header__title {
        font-size: 20px;
    }
    .header__description {
        font-size: 10px;
    }
    svg {
        width: 10px;
        height: 15px;
    }
    .header__scroll--description {
        font-size: 6px;
    }
    .header__scroll {
        bottom: 7%;
    }
    .owl-pagination {
        top: 93%;
    }
    h1 {
        font-size: 20px;
    }
    .about__text {
        font-size: 12px;
    }
    .btn__text a {
        font-size: 9px;
        padding: 8px 17px;
    }
    .portfolio__description {
        padding-top: 25px;
    }
    .portfolio__description p {
        font-size: 11px;
    }
    .portfolio__sorted {
        padding-top: 35px;
    }
    .portfolio__sorted a {
        font-size: 9px;
    }
    .portfolio__sorted button {
        margin: 0 -0.9%;
        padding: 2px 5px;
    }
    .view h2 {
        margin: 70px 0 0 0;
        padding: 6px;
        font-size: 10px;
    }
    .view p {
        font-size: 8px;
        top: -78%;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;
    }
    .btn:nth-of-type(2) {
        padding: 25px 0;
    }
    .our__team__gallery h3  {
        font-size: 12px;
        padding-top: 10px;
    }
    .our__team__gallery--foto span {
        padding-top: 4px;
        font-size: 12px;
    }
    .graph-title {
        margin-top: 73px;
        padding-bottom: 30px;
        font-size: 15px;
    }
    .quote__text {
        font-size: 11px;
    }
    blockquote:before {
        left: 3.5%;
    }
    blockquote:after {
        right: 4.5%;
    }
    .services__block li {
        padding: 15px 5px;
    }
    .services__block p {
        font-size: 10px;
        line-height: 1.5;
    }
    .pricing__main--header {
        padding: 12px;
        font-size: 14px;
    }
    .pricing__main--features {
        padding: 20px 57px 0;
        font-size: 12px;
        line-height: 20px;
    }
    .pricing__main--btn a {
        padding: 9px 38px;
        font-size: 11px;
    }
    .item__description {
        left: 4px;
        right: 4px;
    }
    .our__clients__logo li {
        width: 49%;
        height: 116px;
    }
	.contact__us__form input {
		width: 78%;
	}
    .contact__us__form textarea {
        width: 69.3%;
    }
	.scrollToTop {
		width: 58px;
		height: 58px;
		padding: 2px;
		right: 0;
		background: url(../pic/top.png) no-repeat 3px 1px;
	}
	.scrollToTop span {
		font-size: 10px;
		bottom: 14px;
	}

}